<nav class="header">
  <a class="__jornada" routerLink="/">
    <!-- <i class="pi pi-compass"  style="color: rgb(255, 255, 255)"> Jornada</i> -->
    <img src="assets/images/logo.png" alt="">
  </a>
  <div class='header__list'>
    <a class='header__link' routerLink="/venderMilhas">Vender milhas</a>
    <a class='header__link' routerLink="/sobre">Sobre</a>
    <app-button [text]="buttonSettings.text" [variant]="buttonSettings.variant"></app-button>
    <app-button [text]="buttonLogin.text" [variant]="buttonLogin.variant"></app-button>
  </div>

</nav>
