@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #1D1B20;
}

a {
  text-decoration: none;
  color:#1D1B20;
  transition: 0.4s;
}

a:hover
 {
  color: #673aae;
 }
